body {
  margin: 0;
  padding: 0;
  background-color: rgb(162, 197, 252);
}
.btn{
  background-color: black;
  color: white;
  width: 120px;
  height: 30px;
  border-radius: 5px;
  outline: white;
  padding: 5px;
  cursor: pointer;
  margin: 10px;
}
.btn:hover{
  background-color: white;
  color: black;
}